.mystyle {
    width: 350px;
    height: 200px;
    background-color: goldenrod;
    color: white;
    font-size: 25px;
  }

  .newStyle {
    width: 250px;
    height: 120px;
    background-color: greenyellow;
    text-align: center;
    font-size: 15px;
    color: navy;
    margin-bottom: 10px;
  }

  #questionBox1 {
    height: 130px;
    width: 300px;
    border: solid black;
    background-color: rgb(189, 226, 195);
    border-radius: 25px;
  }
  #Qcontainer1 {
    width: 300px;
    padding: 15px;
  }

  #questionBox {
    height: 130px;
    width: 300px;
    border: solid black;
    background-color: rgb(189, 226, 195);
    border-radius: 25px;
  }
  #Qcontainer {
    width: 306px;
    padding: 10px;
  }