/* text set up */
p{
    color: #96897b;
    font-size: 1.2em;
    text-align: center;
}
/* flex boxes */
.flexOnload {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: start;
}
.flex2{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
    margin-bottom: 2em;
}

.container {
    height: 15em;
    width: 15em;
    background-color: #7fb394;
    margin: 0 .5em;
}

/* onload */
#box1, #box3, #box4, #box5, #scale {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

#box2, #box4,#box-7,#testEvents {  
    background: #0c5460;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#box-6 {
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#box-6 p{
    color: #0c5460;
    font-size: 1.5em;
}

#box-6 p:last-child{
    display: none;
}

form{
    text-align: center;
}

#spin,#scale{
    width: 5em;
    height: 5em;
    background: #0c5460;
}

#scale{
    transition: transform 1.5s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* 2  */
::placeholder{
    color: #7fb394; /*https://www.w3schools.com/cssref/sel_placeholder.asp*/
}

input{
    padding: .7em;
    width: 9em;
    text-align: center;
    font-size: 1.1em;
    margin: .5em 0 0 .5em;
    background: #ebe669;
    color: rgb(61, 121, 12);   /* input color */
    border: solid 2px whitesmoke;/* #C2C2C2;*/
    outline: none;
    box-sizing: content-box;
}
/* 3 */
.scale{
    transform: scale(3);
    transition: transform 1.5s linear;
}

#scale p{
    font-family: 'Amatic SC';
    color: #ebe669;
}

/* 4 */
#time p{
    font-family: 'Amatic SC', cursive;
    color:#ebe669;
}

/* 5  */
#box5 p{
    font-family: 'Amatic SC', cursive;
    color: #0c5460;
    font-size: 1.5em;
}
#quote {padding: 5px;}

/* 8 */

.spin{
    animation: spin 4s linear 400ms;
}

/* touchmove */
#container2 {
    width: 100%;
    height: 400px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
  }
  #item {
    width: 100px;
    height: 100px;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
  }
  #item:active {
    background-color: rgba(168, 218, 220, 1.00);
  }
  #item:hover {
    cursor: pointer;
    border-width: 20px;
  }