/* change title text */
h2#changingText {
    color: black;
    font-size: 30px;
    border: black, 2px,2px,2px,2px;
    transition: color 5s, font-size 5s;
}

h2#changingText.color{
    color: green;
    font-size: 60px;
}

@keyframes text {
    from {
        color: black;
        margin-top: 10px;
    }
    to {
        color: green;
        margin-top: 100px;
    }
}

/* Slide menu styles */
.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.container1 {
    height: 25em;
    width: 25em;
    background: #ffffff;
}

.sidenav {
    position: relative;
    height: 24em;
    width: 14em;
    z-index: 1;
    top: 0;
    left: 0;
}

.menu-icon {
    display: inline-block;
    padding: .5em .5em;
    width: 100%;
    height: 24em;
    transition: .5s ease-in-out;
}

.bars {
    cursor: pointer;
    width: 4em;
}
.bars:hover div {
    background-color: #1a4d14;
}

.nav {
    display: block;
    margin-top: 4em;
}

.menu-link {
    display: none;
    text-decoration: none;
    font-size: 1.5em;
    color: #1a4d14;
    margin: 1em 2em;
}
.menu-link:hover {
    color: white;
}

.bar1, .bar2, .bar3 {
    width: 3.5em;
    height: .4em;
    background-color: #1a4d14;
    margin-top: .4em;
    border-radius: .2em;
    transition: .1s ease-in-out;
}

.open .bar1 {
    position: absolute;
    right: 0;
    transform: rotate(-45deg) translate(-0.45em, 0.55em);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    position: absolute;
    right: 0;
    transform: rotate(45deg) translate(0.3em, 0.15em);
}

.open .bars:hover div {
    background-color: white;
}

.open .menu-icon {
    height: 24em;
    width: 14em;
    background-color: black;
}

.open a {
    display: block;
}

/* compare blocks styles */
.container2 {
    height: 15em;
    width: 15em;
    background-color: #789652;
    margin-top: .5em ;
}

.containerCompare {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animation in the first square */
#animate, #trans {
    height: 5em;
    width: 5em;
    background-color: #0c5460;
    border-radius: 50%;
}

@keyframes morphing-circle-square {
    0% {
        border-radius: 50%;
        background-color: #e17607;}
    50% {
        border-radius: 0%;
        background-color: white;
        transform: rotate(0deg);}
    75% {
        border-radius: 0%;
        background-color: white;
        transform: rotate(-90deg);}
    100% {
        border-radius: 50%;
        background-color: #e17607;
        transform: rotate(-90deg);}
}

#boxT,#boxA {
    padding-right: 10px;
  }